*  {
    margin: 0;
    box-sizing: border-box;
}
/* Image CSS */
.image  {

    width: auto;
    height: 300px;
}

.image-container  {
    object-fit: cover;
    height: calc(50vw * 9 /16);
    width: 100%;
    display: flex;
    

}

.txt  {
    
    text-align: center;
    color: white;

    

}


.title {

    text-align: center;
    border: transparent;
    color: white;
    border: 15px solid white;
}

.title-name{
    justify-content: center;
    text-align: center;
}

