*  {
    margin: 0;
    box-sizing: border-box;
}
/* Image CSS */
.image  {

    width: auto;
    height: 300px;
}

.imagers  {
    object-fit: cover;
    height: calc(50vw * 9 /16);
    width: 100%;

}